@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>About this site: it's a project made for the C# complete course on Udemy.</p>
<a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/">Programação Orientada a Objetos C#</a>
